@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew&family=Noto+Serif+Hebrew&display=swap");
:root {
  --keyboard-columns: repeat(10, minmax(50px, 1fr));
  --keyboard-gap: 8px;
  --keyboard-container-width: 750px;
  --keyboard-container-padding: 12px;
  --global-container-padding: 60px 0;
  --controls-container-height: 50px;

  --input-width: span 10;
  --space-width: span 6;
  --action-key-width: span 2;
  --top-placeholder-width: span 8;
  --bottom-placeholder-width: span 3;

  --key-fs: 1.9rem;
  --symbol-fs: 30px;

  --text: #0e0e0e;
  --niqqud: #e61616;
  --sofit: #d5a700;
  --border: #dedede;
  --bg: #e8e8e854;
  --key-bg: #fdfdfd;
  --key-bg-hover: #f4f4f4;
  --key-bg-active: #e5e4e4;

  --sans: "Noto Sans Hebrew", sans-serif;
  --serif: "Noto Serif Hebrew", serif;
}

@media (max-width: 760px) {
  :root {
    --keyboard-columns: repeat(8, minmax(30px, 1fr));
    --keyboard-gap: 5px;
    --keyboard-container-width: 93vw;
    --global-container-padding: auto;

    --input-width: span 8;
    --space-width: span 4;
    --action-key-width: span 2;
    --top-placeholder-width: span 4;
    --bottom-placeholder-width: span 5;

    --key-fs: 1.87rem;
    --symbol-fs: 22px;
  }
}

@media (max-width: 480px) {
  :root {
    --keyboard-container-padding: 6px;
    --keyboard-gap: 3px;

    --key-fs: 1.71rem;
  }
}

body {
  background-image: url("bg.jpg");
  background-size: 100% 100%;
  background-color: #040105;
}

.global-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--global-container-padding);
}

.keyboard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: var(--keyboard-container-padding);
  padding-bottom: var(--controls-container-height);
  border-radius: 3px;
  width: var(--keyboard-container-width);

  background-color: var(--bg);
}

.vowel-wrap,
.consonant-wrap,
.key-wrap {
  display: grid;
  grid-template-columns: var(--keyboard-columns);
  gap: var(--keyboard-gap);
}

.controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  height: var(--controls-container-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-input {
  grid-column: var(--input-width);
  outline: none;
  padding: 8px 10px;
  margin: 0 0 4px 0;
  border: none;
  border-radius: 3px;

  text-align: right;
  font-size: calc(var(--key-fs) + 0.6rem);
  font-family: var(--serif);
  letter-spacing: 0.1rem;
}

.key,
.layout-button {
  all: unset;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text);
}

.key {
  height: 48px;
  border-radius: 3px;
  padding: 6px 0;
  position: relative;

  background-color: var(--key-bg);
  font-size: var(--key-fs);
  font-family: var(--serif);
}

.layout-button {
  padding: 0 6px;
  border-radius: 1px;

  border: 2px solid var(--text);
  font-weight: bold;
  font-family: var(--sans);
  color: var(--text);
}

.layout-button--active {
  background-color: var(--key-bg);
  border: 2px solid var(--key-bg);
}

.vowel-wrap .key,
.key-wrap .key {
  height: 38px;
}

.key:hover {
  background-color: var(--key-bg-hover);
}

.key.pressed {
  background-color: var(--key-bg-active);
}

.key:active {
  background-color: var(--key-bg-active);
}

.letter {
  pointer-events: none;
  padding-bottom: 3px;
}

.qwerty,
.final-form {
  pointer-events: none;
  position: absolute;

  font-size: calc(var(--key-fs) - 1.13rem);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;

  color: #3a3a3a;
}

.qwerty {
  bottom: 3px;
  left: 5px;
}

.final-form {
  top: 3px;
  right: 5px;

  font-size: calc(var(--key-fs) - 1rem);
}

.vowel-wrap .letter {
  color: var(--niqqud);
}

.sofit {
  color: var(--sofit);
}

.bksp {
  grid-column: var(--action-key-width);
}

.shift {
  grid-column: var(--action-key-width);
}

.space {
  grid-column: var(--space-width);
}

.top-placeholder {
  grid-column: var(--top-placeholder-width);
}

.bottom-placeholder {
  grid-column: var(--bottom-placeholder-width);
}

.action-symbol {
  width: var(--symbol-fs);
  height: var(--symbol-fs);
  pointer-events: none;
}
