:root {
  --controls-container-height: 35px;

  --text: #0e0e0e;
  --niqqud: #e61616;
  --sofit: #d5a700;
  --border: #aaaaaa;
  --bg: #f9f9f9;
  --key-bg: #fdfdfd;
  --key-bg-hover: #f4f4f4;
  --key-bg-active: #e6e6e6;
}

.global-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.keyboard-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  padding: 16px;
  padding-bottom: calc(var(--controls-container-height) + 5px);
  border-radius: 3px;
  width: 600px;
  height: 450px;

  background-color: var(--bg);
}

.controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  height: var(--controls-container-height);
  display: flex;
  align-items: center;
}

.main-input {
  grid-column: span 10;
  outline: none;
  padding: 4px 10px;
  border: 1px solid var(--border);
  border-radius: 3px;

  font-size: 38px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}

.key {
  all: unset;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 50px;
  padding: 0 15px;

  color: var(--text);
  border: 1px solid var(--border);
  background-color: var(--key-bg);

  font-size: 34px;
  font-family: "Times New Roman", Times, serif;
}

.key:hover {
  background-color: var(--key-bg-hover);
}

.key.pressed {
  background-color: var(--key-bg-active);
}

.key:active {
  background-color: var(--key-bg-active);
}

.niqqud {
  color: var(--niqqud);
}

.sofit {
  color: var(--sofit);
}

.bksp {
  grid-column: span 2;
  font-size: 22px;
}

.shift {
  grid-column: span 2;
  font-size: 28px;
}

.space {
  grid-column: span 6;
}

.placeholder {
  height: 50px;
}
